*{
	box-sizing: border-box;
	font-family: 'Space Mono', arial;
	color: #333;
	text-decoration: none !important;
}

a *{
	text-decoration: none;
}
 
a{
	color: #333;
}

a:hover{
	color: black;
}

button{
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent !important;
}

li{
	list-style: none;
}

button:hover{
	cursor: pointer;
}

/*FOR GRID*/
.main-container div, .index-grid div, .slide-def div{
	height: 25vh;
}


/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
  width: 22px;
  height: 22px;
  position: relative; }
.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #C2BAB5;
  border-radius: 100%;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  animation-fill-mode: both; }
.sk-spinner-circle .sk-circle2 {
          transform: rotate(30deg); 
        }
.sk-spinner-circle .sk-circle3 {
          transform: rotate(60deg);
        }
.sk-spinner-circle .sk-circle4 {
          transform: rotate(90deg);
        }
.sk-spinner-circle .sk-circle5 {
          transform: rotate(120deg); 
        }
.sk-spinner-circle .sk-circle6 {
          transform: rotate(150deg); 
        }
.sk-spinner-circle .sk-circle7 {
          transform: rotate(180deg); 
        }
.sk-spinner-circle .sk-circle8 {
          transform: rotate(210deg); 
        }
.sk-spinner-circle .sk-circle9 {
          transform: rotate(240deg); 
        }
.sk-spinner-circle .sk-circle10 {
          transform: rotate(270deg); 
        }
.sk-spinner-circle .sk-circle11 {
          transform: rotate(300deg); 
        }
.sk-spinner-circle .sk-circle12 {
          transform: rotate(330deg); 
        }
.sk-spinner-circle .sk-circle2:before {
          animation-delay: -1.1s; 
        }
.sk-spinner-circle .sk-circle3:before {
          animation-delay: -1s; 
        }
.sk-spinner-circle .sk-circle4:before {
          animation-delay: -0.9s; 
        }
.sk-spinner-circle .sk-circle5:before {
          animation-delay: -0.8s; 
        }
.sk-spinner-circle .sk-circle6:before {
          animation-delay: -0.7s; 
        }
.sk-spinner-circle .sk-circle7:before {
          animation-delay: -0.6s; 
        }
.sk-spinner-circle .sk-circle8:before {
          animation-delay: -0.5s; 
        }
.sk-spinner-circle .sk-circle9:before {
          animation-delay: -0.4s; 
        }
.sk-spinner-circle .sk-circle10:before {
          animation-delay: -0.3s; 
        }
.sk-spinner-circle .sk-circle11:before {
          animation-delay: -0.2s; 
        }
.sk-spinner-circle .sk-circle12:before {
          animation-delay: -0.1s;
        }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
      transform: scale(0); 
    }
  40% {
      transform: scale(1); 
    } 
  }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
      transform: scale(0); 
    }

  40% {
      transform: scale(1); 
    } 
  }

/************************************
*				INICIO				*
************************************/

.index-grid, .index-slide, .slide-one, .slide-two, .slide-three, .slide-four{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.index-slide{
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.slide-one, .slide-two, .slide-three, .slide-four{
	height: 100%;
	display: none;
	margin: 0;
}

.slide-one{
	z-index: 4;
	display: block;
}

.slide-two{
	z-index: 3;
}

.slide-three{
	z-index: 2;
}

.slide-four{
	z-index: 1;
}

.slide-left, .slide-right{
	color: white;
	position: absolute;
	top: 45%; 
	font-size: 5em;
	z-index: 55;
	height: 30px;
	display: flex;
	align-items: center;
}

.slide-left:hover, .slide-right:hover{
	cursor: pointer;
}

.slide-left{
	left:20px;
}

.slide-left.animated{
	animation: arrowLeft 1.5s ease-in-out;
}

.slide-left::after{
	content: "";
    width: 60px;
    height: 2px;
    background-color: white;
    display: block;   
}

.slide-left::before{
	content:"";
	border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    position: absolute;
    /*left: 3px;*/
}

@keyframes arrowLeft{
	0% {
		transform:translateX(0%);
	}
	5% {
		transform:translateX(-10%);
	}
	20% {
		transform:translateX(0%);
	}
	40% {
	    transform:translateX(-20%);
	}
	65% {
		transform:translateX(0%);
	}
	85% {
	    transform:translateX(-15%);
	}
	100% {
	    transform:translateX(0%);
	}
}


.slide-right{
	right: 20px;
}

.slide-right.animated{
	animation: arrowRight 1.5s ease-in-out;
}

.slide-right::after{
	content: "";
    width: 60px;
    height: 2px;
    background-color: white;
    display: block;   
}

.slide-right::before{
	content:"";
	border: solid white;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg) ;
    position: absolute;
    right: 0;
}

@keyframes arrowRight{
	0% {
		transform:translateX(0%);
	}
	5% {
		transform:translateX(10%);
	}
	20% {
		transform:translateX(0%);
	}
	40% {
	    transform:translateX(20%);
	}
	65% {
		transform:translateX(0%);
	}
	85% {
	    transform:translateX(15%);
	}
	100% {
	    transform:translateX(0%);
	}
}

.slide-one{
	background-color: #BDBE36;
	background-image: url("images/img4.jpg");
	background-size: cover;
}

.slide-two{
	background-color: #046FDB;
	background-image: url("images/img6.jpg");
	background-size: cover;
}

.slide-three{
	background-color: #2A363B;
	background-image: url("images/img2.jpg");
	background-size: cover;
}

.slide-four{
	background-image: url("images/img7.jpg");
	background-size: cover;
	background-color: #BB5A5A;
}

.slide-text-animation{
	opacity: 0;
	transition: all .5s;
}

.slide-def *{
	color: white;
}

.slide-title{
	margin-left: 80px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-width: 60vw;
	font-weight: 900;
	transition: all .3s;
	z-index: 100;
}

.slide-subtitle{
	margin: 0;
	color: rgba(255,255,255,.6);
	font-weight: 900;
	text-align: right;
	width: 100%;
    text-align: center;
}

.slide-item{
	font-size: 14px;
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 5px;
	bottom: 2px;
	margin: 0 !important;
	font-weight: bold;
}

.active-item{
	transition: all 1s;
	border-right-color: white!important; 
}

.port-container-index{
	border:1px solid rgba(178,178,178,.7);
}

.href-projects{
	display: inline;
	
}

.button-projects{
	
}

.button-projects{
	transition: all .8s;
	opacity: 0;
	z-index: 55;
	position: absolute;
	bottom: 10%;
	left: 20px;
	z-index: 55;
	max-width: 50%;
	color: black;
	padding: 10px 15px;
	font-weight: bold;
	background-color: white;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 10px;

}

/************************************
*		   PORTFOLIO INICIO 		*
************************************/
.port-container{
	border: 0.1px solid rgb(230,230,230);
	position: relative;
}

.pointer:hover{
	cursor: pointer;
}

.main-container{
	height: 100vh;
	background-image: url("images/img1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .5s;
	position: relative;
}

.port-container *{
	margin: 0;
}

.port-title{
	position: absolute;
	bottom: 5px; 
	right: 5px;
	font-size: 1em;
	transition: all .2s;
	color: black;
}

.port-title.desappear{
	opacity: 0;
	transition: all .6s;
}

.port-main-title{
	margin-top: 8px;
	color:black;
	right: 20px;
	transition: all ease .4s;
}

.port-main-subtitle{
	color: white;
	right: 15px;
	transition: right ease .6s;
}

.port-main-title, .port-main-subtitle{
	position: relative;
	text-align: right;
	font-weight: bold;
	opacity: 0;
}

.port-image{
	position: absolute;
	left:10px;
	bottom: 10px;
	opacity: 0;
	transition: all .3s;
}

.photo-test{
	transition: all .5s;
	position: absolute;
	width: 100%;
	height: 100%; 
	left:0; 
	top:0; 
	transform: scale(1.1); 
	opacity:0;
}

.photo-test-visible{
	opacity: 1;
}

.port-container:hover .port-title{
	font-size: 1.2em;
	font-weight: bold;
}
.port-container:hover .port-main-title{
	opacity: 1;
	right: 0;
}
.port-container:hover .port-main-subtitle{
	opacity: 1;
	right: 0;
}
.port-container:hover .port-image{
	opacity: 1;
}

/***************************************
* 			  PROJECT RESP			   *
***************************************/
.the-slide,.proj-resp-slide-test{
	display: none;
}

.proj-section-1:hover{
	cursor: pointer;
}

.resp-port-container{
	height: 100vh;
	background-size: cover;
    background-position: top center;
}

.proj-section-1{
	height: 70vh;
}

.proj-section-2{
	height: 30vh;
}

.proj-resp-title{
	position: relative;
	top: 30%;
	color: white;
	font-size: 2.2em;
	text-align: center;
	text-decoration: underline !important;
	font-weight: 900;
	width: 100%;
	border-bottom: 1px solid grey;
}

.proj-resp-data{
	width: 100%;
	position: relative;
	bottom:0;
	border-top: 1px solid grey;
	padding-top: 20px;
}

.proj-resp-subtitle{
	width: 100%;
	margin: 0;
	color: rgba(0,0,0,.5);
	text-align: center;
	font-weight: 900;
	font-size: 1.6em;
}

.proj-resp-title-2{
	width: 100%;
	margin: 0;
	color: white;
	text-align: center;
	font-weight: 900;
	font-size: 1.4em;
}

.proj-resp-slide{
	width: 100%;
	position: relative;
}

.proj-resp-slide-test{
	width: 100%;
	position: absolute;
	bottom: 40px;
	text-align: center;
	z-index: 10; 
}

.slide-number{
	font-size: 2.2em;
	color: white;
}

.slick-prev, .slick-next{
	color:black;
	position: absolute;
	bottom:40px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid white;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 3em;
}

.slick-prev{
	left: 20px;
}

.slick-next{
	right: 20px;
}

/***************************************
*			COLORS PORT 			   *
***************************************/
.port-color-reposicion-bg:hover{
	background-color: #fcac00;
}

.port-color-altura-bg:hover{
	background-color: #0040ff;
}

.port-color-trabajo-bg:hover{
	background-color: #4cc35f;
}

.port-color-residencial-bg:hover{
	background-color: #e85252;
}

.port-color-mixto-bg:hover{
	background-color: #7e4940;
}


.port-color-reposicion{
	color: #bd7500;
}

.port-color-altura{
	color: #001565;
}

.port-color-trabajo{
	color: #007e1f;
}

.port-color-residencial{
	color: #a10506;
}

.port-color-mixto{
	color: #47201b;
}

.port-color-reposicion-back{
	background-color: #fcac00;
}

.port-color-altura-back{
	background-color: #0040ff;
}

.port-color-trabajo-back{
	background-color: #4cc35f;
}

.port-color-residencial-back{
	background-color: #e85252;
}

.port-color-mixto-back{
	background-color: #7e4940;
}



/************************/
.work-single{
	position: absolute;
	top:0;
	left:0; 
	display: none;
	z-index: 50;
}

.work-row-1{
	height: 50vh;
	width: 75vw;
}

.work-info-1 div,.work-info-2 div,.work-info-3 div{
	height: 100%;
}

.work-row-2{
	height: 50vh;
	overflow: hidden;
}

.single-titles * {
	text-align: left;
}

.work-common-title{
	font-weight: 800;
}

.work-title{
	opacity: 0;
	color:white;
	font-size: 6vw;
	font-weight: 800;
	position: relative;
	transition: all 1s;  
}

.work-title.toleft {
	opacity: 1;
	transition: all 1s;  
	margin-left:30px;
}

.work-info-1,.work-info-2,.work-info-3,.work-info-4{
	width: 25vw;
	border:1px solid rgba(178,178,178,.7);
}

.work-info-1,.work-info-2,.work-info-3{
	bottom: -25vh;
	height: 50%;
	background-color: white;
	opacity: 1;
	position: relative;
}

.work-info-1{
	transition: all .3s;
	animation: downToUp ease-out .7s;
	animation-play-state: paused;
}

.work-info-2{
	transition: all .3s;
	animation: downToUp ease-out 1s;
	animation-play-state: paused;
}

.work-info-3{
	transition: all .3s;
	animation: downToUp ease-out 1.3s;
	animation-play-state: paused;
}

.work-info-4{
	opacity: 1;
	position: relative;
	transition: all .3s;
	animation: rightToLeft ease 1.1s;
	animation-play-state: paused;
}

.work-info-4 div{
	height: 100%;
	margin: 10px;
	color: white;
}

@keyframes downToUp{
	from{bottom: -50vh;opacity: 0}
	to{bottom:-25vh; opacity: 1}
}

@keyframes rightToLeft{
	from{opacity:0;right:-100%;}
	to{opacity: 1;right: 0;}
}


/***********************************
*			MENU				   *
***********************************/
.main-menu-responsive{
	transition: all .3s;
	position: absolute; 
	opacity: 0;
	background-color: rgba(255,255,255,1);
	z-index: 0; 
}

.menu-resp-list{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 13px;
	margin: auto;
	align-items: flex-start;
}

.menu-resp-list li{
	padding: 5px;
	color: black;
	font-weight: 900;
	font-size: 2.2em;
	opacity: 0;
	position: relative;
}

.main-menu {
	transition: all .3s;
	position: absolute; 
	opacity: 0;
	background-color: rgba(255,255,255,.9);
	z-index: 0; 
}

.logo-menu-container{
	position: absolute; 
	top: 20px; 
	left: 20px; 
	z-index: 200;
}

.logo-menu-container-button {
	font-size: 3em;
	cursor: pointer;
}

.menu-container{
	height: 100vh;
	margin: 0;
}

.menu-container div{
	height: 25vh;
}

/*.menu-port-tras{
	background-color: rgba(255,255,255,.9);
}
*/
.back-white{
	background-color: white;
}

.menu-port-solid{
	background-color: rgba(255,255,255,1);
	position: relative;
}

.menu-port-solid.animated{
	animation: menuSolidAnimation .8s ease-in-out;
}

@keyframes menuSolidAnimation{
	from{
		opacity: 0;
		left: -25vw
	}
	to{
		opacity: 1;
		left: 0;
	}
}

.solid-animation{
	position: absolute;
	top:0;
	left:0;
	width: 0%;
	height: 100%; 
	background-color: rgba(183,183,183,1);
	z-index: 500;
}

.solid-animation.animated{
	animation: menuAnimation .9s ease-in-out;
}
	
@keyframes menuAnimation {
	from {left:0; opacity: 1;width: 60% }
	to{left: 100%;opacity:0.2; width: 0%;}
}

/*.port-ref:hover .test:before{
	border-left: 6px solid green;
}

.port-ref:hover .port-ref-title{
	/*margin-left: 15px;*/
/*}*/

.port-ref{
	border-left: 0px solid #32acaf;
  	transition: all 0.4s;
}

.port-ref:hover{
	border-left: 5px solid #32acaf;
}

.port-ref-title{
	font-weight: 900;
	margin: 6px;
}

.menu-text-transition{
	opacity: 0;	
	transition: opacity 1.5s;
	transition-delay: .6s
}

/*****CLOSE BUTTON*****/
.menu-close{
	position: absolute;
	z-index: 100;
	top:20px;
	right: 20px;	
}

.close-button {
    height: 50px;
    width: 50px;
    position: relative;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #b2b4b2
}

.uno, .dos{
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -.5px;
    margin-left: -13px;
    display: block;
    height: 1px;
    width: 26px;
    background-color: #b2b4b2;
}

.uno{
    transform: rotate(-45deg);
}

.uno.animated{
	animation: animatedUno .7s ease-in-out;
}

.dos{
	transform: rotate(-135deg);
}

.dos.animated{
	animation: animatedDos .7s ease-in-out;
}

.close-button:hover{
	cursor: pointer;
}


@keyframes animatedDos{
	0%{transform: rotate(-45deg); left: 50%; top:50%;}
	50%{transform: rotate(90deg); left: 65%; top:50%}
	100%{transform: rotate(-45deg);left: 50%; top:50%;}
}

@keyframes animatedUno{
	0%{transform: rotate(-135deg); left: 50%; top: 50%}
	50%{transform: rotate(-270deg); left: 35%; top: 50%}
	100%{transform: rotate(-135deg);left: 50%; top: 50%}
}


/************FIN CLOSE BUTTON***********/

@media(max-width: 980px){
	.slide-title{
		max-width: 80vw;
	}
	.slide-item{
		opacity: 0 !important;
	}
}

@media(max-width: 495px){

}

@media (max-width: 640px){
	/***********************************
	*				INICIO			   *
	************************************/
	.slide-title{
		margin-left: 10px;
	}
	.slide-one,.slide-two,.slide-three,.slide-left,.slide-right{
		display: none;
	}

	.slide-four{
		display: block;
	}

	.index-grid{
		display: none;
	}

	/***********************************
	*			 FIN INICIO			   *
	************************************/
	
	/***********************************
	*			  PROYECTOS			   *
	************************************/

	.project-container{
		display: none;
	}

	.the-slide,.proj-resp-slide-test{
		display: block;
	}

	/************WORK SINGLE************/
	.work-single{
		position: relative;
		z-index: 100;
	}

	.work-info-1,.work-info-2,.work-info-3,.work-info-4{
		width: 100%;
		bottom:0;
		height: 15vh;
	}

	.work-info-4 div{
		margin: 0
	}

	.work-title{
		display: none;
	}

	.work-row-2{
		overflow: inherit;
		height: auto;
	}


	/***********************************
	*		   FIN PROYECTOS		   *
	************************************/

	/***********************************
	*				MENU			   *
	************************************/

	.menu-port-tras, .back-white{
		display: none;
		background-color: red;
	}

	.menu-container {
		background-color: white;
	}

	.menu-data-text{
		position: relative;
		bottom:0;
	}
	.menu-container .row {
		/*display: block;*/
		/*height: auto;*/
	}
	/***********************************
	*			  FIN MENU			   *
	************************************/
}
